.Board-row{
  display:flex;
  justify-content:space-evenly;
  align-items: center;
}
.boardcontainer{
  margin-top: 20%;
  margin:10%;
}
.title{
  color:red;
  shape-rendering: crispEdges;

}
p{
  color:rgb(190, 26, 26);
  font-weight: 100px;
  height: 25px;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: initial;
  font-variant: small-caps;
}
button{
  background-color: rgb(0, 255, 208);
}

@keyframes myAnimation {
  0% {
    background-color: hsl(150, 60%, 70%);
  }
  50% {
    background-color: rgb(102, 205, 170)
  }
  100% {
    background-color: #66CDAA;

  }
}

body {
  animation: myAnimation 3s infinite;
}


  
